#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_LSM6DSOX_DEMO
	tristate "LSM6DSOX accelerometer and gyroscope demo"
	default n
	depends on SENSORS_LSM6DSOX
	---help---
		Enable a small LSM6DSOX accelerometer and gyroscope demo
		command for NSH.

if EXAMPLES_LSM6DSOX_DEMO

config EXAMPLES_LSM6DSOX_DEMO_PROGNAME
	string "LSM6DSOX demo program name"
	default "lsm6dsox_demo"

config EXAMPLES_LSM6DSOX_DEMO_PRIORITY
	int "LSM6DSOX demo task priority"
	default 100

config EXAMPLES_LSM6DSOX_DEMO_STACKSIZE
	int "LSM6DSOX demo stack size"
	default 4096

config EXAMPLES_LSM6DSOX_DEMO_DEVPATH
	string "LSM6DSOX device path"
	default "/dev/lsm6dsox"

endif
